In [6]:
import pandas as pd
import numpy as np 
from sklearn.model_selection import train_test_split

In [7]:
def load_data(file_path):
    df = pd.read_excel(file_path)
    return df

In [8]:
file_path = '../../data/raw_data.xlsx'
df = load_data(file_path)
df.head()

,Brand,Model,Year,EngineSize,Fuel,Transmission,Mileage,Doors,OwnerCount,Price
0,Kia,Rio,2020.0,4.2,Diesel,Manual,289944.0,3.0,5.0,8501.0
1,Chevrolet,Malibu,2012.0,2.0,Hybrid,Automatic,5356.0,2.0,3.0,12092.0
2,Mercedes,GLA,2020.0,4.2,Diesel,Automatic,231440.0,4.0,2.0,11171.0
3,Audi,Q5,2023.0,2.0,Electric,Manual,160971.0,2.0,1.0,11780.0
4,Volkswagen,Golf,2003.0,2.6,Hybrid,Semi-Automatic,286618.0,3.0,3.0,2867.0

In [10]:
X = df.drop('Price', axis=1)
y = df['Price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

df_train = X_train.copy()
df['Price'] = y_train

Remove Extra Columns

Columns Typecasting

In [11]:
print(df.dtypes)

Brand            object
Model            object
Year            float64
EngineSize      float64
Fuel             object
Transmission     object
Mileage         float64
Doors           float64
OwnerCount      float64
Price           float64
dtype: object

 Handle Missing Values

In [16]:
# Assuming df is your DataFrame
df['Price'].fillna(0, inplace=True)

# Now, let's re-run the missing value check to confirm
for col in df.columns:
    number_null = df.loc[:, col].isnull().sum()
    perc_null = (number_null / df.shape[0]) * 100
    print('{} -- {} -- {}%'.format(col, number_null, round(perc_null, 2)))

Brand -- 0 -- 0.0%
Model -- 0 -- 0.0%
Year -- 0 -- 0.0%
EngineSize -- 0 -- 0.0%
Fuel -- 0 -- 0.0%
Transmission -- 0 -- 0.0%
Mileage -- 0 -- 0.0%
Doors -- 0 -- 0.0%
OwnerCount -- 0 -- 0.0%
Price -- 0 -- 0.0%

Handle Duplicate Rows

In [17]:
duplicate_rows = df.duplicated()

if duplicate_rows.any():
    print("There is Duplicate.")
else:
    print("No Duplications.")

No Duplications.

Numerical Sanity Check

In [18]:
numeric_columns = df.select_dtypes(include=['int64', 'float64']).columns.tolist()

In [20]:
df[numeric_columns].describe()

,Year,EngineSize,Mileage,Doors,OwnerCount,Price
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,2011.543700,3.000560,149239.111800,3.497100,2.991100,7062.996200
std,6.897699,1.149324,86322.348957,1.110097,1.422682,4507.870047
min,2000.000000,1.000000,25.000000,2.000000,1.000000,0.000000
25%,2006.000000,2.000000,74649.250000,3.000000,2.000000,3919.750000
50%,2012.000000,3.000000,149587.000000,3.000000,3.000000,7810.500000
75%,2017.000000,4.000000,223577.500000,4.000000,4.000000,10441.000000
max,2023.000000,5.000000,299947.000000,5.000000,5.000000,18301.000000

Categorical Sanity Check

In [33]:
cat_columns = df.select_dtypes(exclude=['int64', 'float64']).columns.tolist()

In [35]:
def Cat_Checker(CatIndex):
    values = np.sort(df[cat_columns[CatIndex]].unique())
    return cat_columns[CatIndex], values

In [36]:
Cat_Checker(0)

('Brand',
 array(['Audi', 'BMW', 'Chevrolet', 'Ford', 'Honda', 'Hyundai', 'Kia',
        'Mercedes', 'Toyota', 'Volkswagen'], dtype=object))

In [37]:
Cat_Checker(1)

('Model',
 array(['3 Series', '5 Series', 'A3', 'A4', 'Accord', 'C-Class', 'CR-V',
        'Camry', 'Civic', 'Corolla', 'E-Class', 'Elantra', 'Equinox',
        'Explorer', 'Fiesta', 'Focus', 'GLA', 'Golf', 'Impala', 'Malibu',
        'Optima', 'Passat', 'Q5', 'RAV4', 'Rio', 'Sonata', 'Sportage',
        'Tiguan', 'Tucson', 'X5'], dtype=object))

In [38]:
Cat_Checker(3)

('Transmission',
 array(['Automatic', 'Manual', 'Semi-Automatic'], dtype=object))

In [39]:
Cat_Checker(2)

('Fuel', array(['Diesel', 'Electric', 'Hybrid', 'Petrol'], dtype=object))

In [41]:
%store X_test
%store y_test
%store df
%store numeric_columns
%store cat_columns

Stored 'X_test' (DataFrame)
Stored 'y_test' (Series)
Stored 'df' (DataFrame)
Stored 'numeric_columns' (list)
Stored 'cat_columns' (list)